# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-functions-durable

openai
requests
regex
pyautogen
tiktoken
azure-core
azure-cosmos
azure-search-documents
azure-messaging-webpubsubservice
azure-storage-blob
azure-mgmt-apimanagement


msal
python-jose
Whoosh


git+https://github.com/demo-ninjas/aiproxy.git